
@model List<Book>
@{
    ViewData["Title"] = "Books";
}
<h2>List of books</h2>

@Html.DropDownListFor(x => x.FirstOrDefault().GenreId, (IEnumerable<SelectListItem>)ViewBag.Genres, new {id ="GenreId" });
   
<div>
    @Html.ActionLink("Create book", "Create", "Books", null, new { @class = "btn btn-primary" })
</div>   

<div>
    Choose filter
</div>

<div id="booksListContainer"> 
    @Html.Partial("_BooksList", Model);
</div>
   

@section Scripts{ 
    <script>
        $(function () {
             var dropdownElement = $("#GenreId");
        dropdownElement.change(function () {
            var genreId = dropdownElement.val();
            $.get(
                {
                    url: '@Url.Action("BooksList")' + '?genreId=' + genreId,
                    success: function (data) {
                        $("#booksListContainer").html(data);
                    }
                }
        })
        })
    </script>
    }
